<! -- 添加版权信息 -->
<div class="article-footer-copyright">
<p>本文由&nbsp;<b><%= config.author %></b>&nbsp;创作并首发于&nbsp;<b><a href="<%= config.root %>index.html" target="_blank" title="<%= config.author %>"><%= config.author %>的个人博客</a></b>&nbsp;，同步授权微信公众号：技术鸟（NiaoTech）。</a></p>
 
<p>欢迎各种形式地交流与转载，注明作者及出处即可。</p>
 
<p>本文标题为: <b><a href="<%- config.root %><%- post.path %>" target="_blank" title="<%= post.title %>"><%= post.title %></a></b> </p>
 
<p>本文链接为：<b><a href="<%- config.root %><%- post.path %>" target="_blank" title="<%= post.title %>"><%- config.url %>/<%- post.path %></a></b> </p>

<p><img border="1" src="http://ocq7gtgqu.bkt.clouddn.com/NiaoTechNiaoTech_QRcode.jpg"></p>
</div>
<! -- 添加版权信息 -->